body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s;
}

.container {
  max-width: 100%;
  width: 50vw;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

input,
button {
  font-size: 0.75rem;
  padding: 0.875rem;
}

button {
  cursor: pointer;
}

.color-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.palette-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.color-div {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

.color-container span {
  display: block;
  font-size: 0.875rem;
}

.hidden {
  display: none !important;
}

.confirmation-active .input-container,
.confirmation-active .palette-box {
  display: none;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 0.25rem solid #f3f3f3;
  border-top: 0.25rem solid #000000;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.color-palette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: calc(100% - 5rem);
}

#history-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#history-list li {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 0;
    width: 99vw;
  }

  .color-container span {
    font-size: 0.75rem;
  }

  .color-palette-container {
    display: flex;
    width: 70%;
    flex-flow: wrap;
  }

  #history-list {
    padding: 0;
  }
}
